.content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 20px;
  justify-content: center;
  flex: 7;
  .card {
    box-shadow: 5px 5px 5px rgb(186, 186, 186);
    border-radius: 10px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: all 0.2s ease;

    .title {
      font-size: 18px;
      font-weight: 600;
    }
    .item-details {
      border-top: 2px solid var(--website-gray);
      padding: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      .item-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .item-value {
        display: flex;
        column-gap: 26px;
        align-items: start;
        .item-price {
          display: flex;
          align-items: center;
        }
      }
    }
    .quantity-button {
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
    img {
      height: 200px;
      width: 85%;
    }
    Button {
      width: 100%;
    }
  }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgb(186, 186, 186);
  }
}
