.category {
  background-color: var(--shopnest-dark-blue);
  padding: 4px 8px;
  color: var(--shopnest-white);
  font-size: 12px;
  font-weight: 700;
  width: fit-content;
  border-radius: 20px;
}

.men {
  background-color: red;
}

.women {
  background-color: rgb(255, 104, 129);
}

.beauty {
  background-color: orange;
}

.electronic {
  background-color: green;
}
