.forget-main-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px 0px;
  .forget-input-field {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    input {
      padding: 10px;

      border-radius: 5px;
      border: 1px solid rgb(176, 176, 176);
      outline: none;
    }
    .compulsary-star {
      color: var(--shopnest-red);
      font-size: 12px;
    }
  }
}
