.modal-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  .modal-container {
    background-color: var(--shopnest-white);
    padding: 16px;
    border-radius: 10px;
    width: clamp(200px, 50vw, 450px);
    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--shopnest-darkest-blue);
      padding-bottom: 10px;
      font-size: var(--font-max-size);
      font-weight: 600;
      box-icon:hover {
        cursor: pointer;
      }
    }
    .modal-content {
      border-bottom: 1px solid var(--shopnest-darkest-blue);
      padding: 15px 0px;
    }

    .modal-buttons {
      display: flex;
      justify-content: end;
      column-gap: 10px;
      padding: 10px 0px;
    }
  }
}
