table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--shopnest-dark-blue);
  color: var(--shopnest-off-white);
}

td,
th {
  border: 1px solid var(--shopnest-off-white);
  text-align: left;
  padding: 8px;
}

.quantity-buttons {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.cart-button {
  margin: 10px;
  position: absolute;
  right: 10px;
}

.empty-image {
  display: flex;
  justify-content: center;
}
