@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

:root {
  /* colors */
  --shopnest-dark-blue: #27548a;
  --shopnest-darkest-blue: #183b4e;
  --shopnest-light-brown: #dda853;
  --shopnest-off-white: #f5eedc;
  --shopnest-beige: #f5f5dc;
  --shopnest-white: #fff;
  --shopnest-red: #ff5151;
  --shopnest-green: #1aee1a;

  /* font size and weight */
  --font-max-size: 20px;
  --font-med-size: 18px;
  --font-small-size: 16px;
}

.validation-error {
  font-size: 12px;
  color: var(--shopnest-red);
}

.dashboard {
  display: flex;
  flex-direction: column;
  .page {
    display: flex;
    .page-content {
      flex: 1;
    }
  }
}
